
/* ******************** */

/* General styling for the app

/* ******************** */
body {
  background:#f9fafb; /* tailwind gray 50 */
  color: #1f2937; /* Tailwind gray 800 */
  font-family: "Inter", sans-serif;
}


#appcontainer {
  margin: 2.5%;
  padding: 2.5%;
}

h1 {
  color: #030712; /* Tailwind gray 950 */
  margin: 0;
}

h3 {
  margin-bottom: 0.25em;
}

hr {
  margin-top: 1.5em;
}

/* These tags are typically just explanatory text */
p {
  color: #374151; /* Tailwind gray 700 */
}

a {
  color:  #2563eb; /* Tailwind blue 600 */
  cursor: pointer;
}

button {
  background-color: #2563eb; /* Tailwind blue 600 */
  color: white;
  padding: 0.75em 1em;
  font-weight: 600;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 1px 2px 0 rgb(0, 0, 0, 0.1);
  cursor: pointer;
}

button:hover {
  background-color: #3b82f6; /* Tailwind blue 500 */
}

button:disabled {
  background-color: #dbeafe; /* Tailwind blue 100 */
}

/* ******************** */

/* Table styles

/* ******************** */
table {
  margin-top: 1em;
  margin-bottom: 2em;
  width: 100%;
  padding-bottom: 2em;
  border-collapse: collapse;
}

th {
  text-align: left;
  font-weight: bold;
  font-size: 1.5vw;
  padding-bottom: 0.25em;
}

td {
  color: #6b7280; /* tailwind gray 500 */
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1.25vw;
}

.firstcolumn {
  color: #1f2937; /* Tailwind gray 800 */
  font-weight: bold;
}

td > a {
  text-decoration-line: none;
}

#headerrow > td {
  padding: 1em;
}

tbody > tr {
  border-top: 1px solid #1f2937; /* Tailwind gray 800 */;
}

tbody {
  padding-top: 1em;
  border-top: 3px solid #1f2937; /* Tailwind gray 800 */;
}



/* ******************** */

/* Component-specific styles

/* ******************** */

/* Conditions Header */

#conditionsheader {
  display: flex;
  justify-content: space-between
}

/* Condition Row */

.hazardBadge {
  display: inline;
  border-radius: 0.5rem;
  color: white;
  padding: 0.25em 1em;
}

.extreme {
  background-color: #231f20;
  color: white;
}

.high {
  background-color: #ed1c24;
  color: white;
}

.considerable {
  background-color: #f7941e;
}

.moderate {
  background-color: #fff200;
  color: #030712; /* Tailwind gray 950 */
}

.low {
  background-color: #50b848;
}

/* Conditions input fields */

.horizontalinput {
  display: flex;
  flex-direction: row;
}

.labelgroup {
  display: flex;
  flex-direction: column;
  margin-right: 3em;
}

.labelgroup * {
  display: block;
  width: 100%;
  border-radius: 0.25rem;
  margin-top: 0.25em;
  padding: 0.25em;
}

.labelgroup > input, select {
  border: 2px solid #6b7280; /* tailwind gray 500 */
  box-shadow: 0 1px 2px 0 rgb(0, 0, 0, 0.1);
}

.labelgroup > input:focus, select:focus, textarea:focus {
  box-shadow: 0px 0px 3px 2px #2463eb; /* Tailwind blue 600 */
  outline-color: #2463eb; /* Tailwind blue 600 */
}

#overallHazard {
  padding-right: 1em;
  margin-right: 1em;
  border-right: 1px solid #9ca3af; /* tailwind gray 400 */
}

select {
  display: inline;
  border-radius: 0.5rem;
  padding: 0.25em 1em;
}

#note {
  height: 7vw;
  text-wrap: wrap;
  width: 100%;
}

/* AddCondition */
.cancelbuttoncombo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cancellink {
  margin-right: 0.5em;
  text-decoration: none;
}

.cancellink:hover {
  text-decoration: underline;
}

/* Add problem modal dialog */

dialog {
  width: 80%;
  margin-top: 5%;
  border-radius: 1em;
  border: 1px solid #1f2937; /* Tailwind gray 800 */;
  box-shadow: 2px 2px 3px 1px rgb(0, 0, 0, 0.1);
}

#dialogcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

::backdrop {
  background-color: white;
  opacity: 0.75;
}

#aspectselector, .aspectstatic {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.eastwestcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#likelihoodpicker {
  width: 40%;
}

/* Problem Selector */
#problemsContainer {
  display: grid;
  grid-template: repeat(3, 1fr);
  grid-template-areas:
    "dryloose stormslab windslab"
    "cornice wetloose wetslab"
    "persistentslab deepslab glide";
  max-width: 100%;
}

.problemcard {
  border: 1px solid black;
  margin: 1em;
  border-radius: 1em;;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #6b7280; /* tailwind gray 500 */
  box-shadow: 0 1px 2px 0 rgb(0, 0, 0, 0.1);
  cursor: pointer;
}

.problemselection {
  background-color: #d1d5db; /* tailwind gray 300 */
}


path {
  fill: transparent;
}

/* If selected, make it colored */
.aspectselection {
  fill: #d1d5db; /* tailwind gray 300 */
}

.aspectstatictd {
  height: 30%;
  width: 30%;
  display: flex;
  justify-content: flex-start;
}

.aspectstatic h5 {
  margin: 0.25em;
}

#dryloose {
  grid-area: dryloose;
}

#stormslab {
  grid-area: stormslab;
}

#windslab {
  grid-area: windslab;
}

#cornice {
  grid-area: cornice
}

#wetloose {
  grid-area: wetloose;
}

#wetslab {
  grid-area: wetslab;
}

#persistentslab {
  grid-area: persistentslab;
}

#deepslab {
  grid-area: deepslab;
}

#glide {
  grid-area: glide;
}

.requiredSpan {
  color: #dc2626; /* Tailwind red 600 */
  display: inline;
}